.titulo__garantias{
    padding: 2rem;
    font-size: 100px;
    font-weight: 450;
}
.contenedor__animacion{
	
	width: 480px;
	height: 60px;
	color: black;
	font-size: 60px;
	line-height: 60px;
	display: inline-block;
	position: relative;
	top: 0;
	bottom: 0;
	left: 100px;
	overflow: hidden;
}
.h2_2{
	font-size: 20px; 		
	padding: 10px;
	font-weight: 600;
}
.h2_22{
	position: relative;
	font-size: 20px; 		
	padding: 10px;
	font-weight: 600;
}
.animacion{
	position: relative;
	list-style: none;
	padding-left: 350px;
	font-size: 27px;
	animation: cambiar 30s infinite;
	 
}
.article__garantias{
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
}
.grilla-garantias{
	grid-column: 5/10 ;
	grid-row: 3/9 ;
}
.footer-garantias{
	padding-top: 3rem;
	padding-bottom: 3rem;
	padding-right: 0.5rem;
	text-align: center;
	
}
@keyframes cambiar {
	0%{margin-top: 0;}
	5%{margin-top: -60;}

	10%{margin-top: -120px;}
	15%{margin-top: -180px;}
	
	20%{margin-top: -240px;}
	25%{margin-top: -300px;}

	30%{margin-top: -360px;}
	35%{margin-top: -420px;}

	40%{margin-top: -480px;}
	45%{margin-top: -540px;}

	50%{margin-top: -600px;}
	55%{margin-top: -660px;}

	60%{margin-top: -720px;}

	100%{margin-top: 0;}
	
}

@media (max-width: "1700px" ) {
	.titulo__garantias{
		font-weight: 250px;
		font-size: 100px;
	}	
		.animacion{
			padding-left: 250px;
		}

	}
@media (max-width: "1500px")	{


	.titulo__garantias{
		font-size: 90px;
	}
	.contenedor__animacion{
		left: 100px;
	}
}
@media(max-width: "1400px"){
	.contenedor__animacion{
		bottom: 170px;
	}
	
		
}

@media(max-width: "810px"){
	.article__garantias {
		margin-top: 12rem;
		margin-bottom: 12rem;
	}
}

@media(max-width: "767px"){
	.article__garantias {
		margin: 0;
	}
	.grilla-garantias{
		grid-column: 3/7 ;
		grid-row: 3/7 ;
	}

}

@media(max-width: "650px"){
	.titulo__garantias{
		padding: 1rem;
		font-size: 70px;
		font-weight: 500;
	}

	.contenedor__animacion{
		top: -100;
		right: 100px;
		bottom: 350px;
		left: 50px;
	}
}


@media(max-width: "490px"){
	.titulo__garantias {
		margin-bottom: 25px;
	}
	.contenedor__animacion{
		width: 450px;
		top: -80;
		right: 80px;
		bottom: 320px;
		left: 15px;
	}
}

@media(max-width: "428px"){
	.titulo__garantias {
		margin-bottom: 25px;
	}
	.contenedor__animacion{
		width: 350px;
		top: -80;
		right: 80px;
		bottom: 320px;
		left: 15px;
	}
}

@media(max-width: "414px"){
	.titulo__garantias {
		margin-bottom: 25px;
	}
	.contenedor__animacion{
		width: 350px;
		top: -80;
		right: 80px;
		bottom: 320px;
		left: 15px;
	}
}

@media(max-width: "412px"){
	.titulo__garantias {
		margin-bottom: 25px;
	}
	.contenedor__animacion{
		width: 380px;
		top: -80;
		right: 80px;
		bottom: 320px;
		left: 15px;
	}
}
@media(min-width: "391px"){
	.h2_22 {
		display: none;
	}
}

@media(max-width: "390px"){
	.titulo__garantias {
		margin-bottom: 25px;
	}
	.contenedor__animacion{
		width: 300px;
		top: -80;
		right: 80px;
		bottom: 320px;
		left: 15px;
		.h2_2 {
			display: none;
		}
		.h2_22 {
			display: show;
		}
		.animacion {
			left: -50px;
		}
	}
}