.logo__nuevo{
	font-size: 50px;
	font-weight: 500;
}

.navbar__nuevo{
	background-color: #accabe;
	text-align: center;
}
.header1  {
	justify-content: center;
	align-content: center;
}

.header1 .nav-links li{
	padding: 0px 10px;
	transition: all 0.3s;
}
.nav-links {
	font-weight: 700;
}

.header1 .nav-links li:hover{
	transform: scale(1.3);
}

.header1 .nav-links a{
	color: rgb(0, 0, 0);
}

.header1 .nav-links li a:hover{
	color: rgb(0, 0, 0);
}
