.title-informacion{
	padding: 1rem;
	font-size: 90px;
	font-weight: 500;
	max-width: 1000px;
	margin: 0 auto;

}
.contenedor-informacion{
	padding: 0.5rem;
	max-width: 1000px;
	margin: 0 auto;
	padding-inline: 1.5rem;
}
.contenedor-informacion .h2-informacion{
	font-size: 25px;
	font-weight: 600;
	padding: 1rem;
}
