.content-tittle{
	display: flex;

	    .titulo2{
            font-size: 90px;
            font-weight: 500;
            padding: 3rem;
        }
    
}
.content-ubication{
	display: flex;
	padding-left: 2rem;

    .ubication-neuquen{
        padding: 1rem;
        border-radius: 5rem;
    } 
}

@media(max-width: "450px"){

    .content-tittle{

        .titulo2{
            padding: 1.5rem;
            font-size: 50px;
        }

        .parrafo1{
            padding-left: 1rem;
        }
    }
}